{% extends "layouts/base.html" %}

{% block title %}Subir producto{% endblock %}

{% block content %}

<div class="container cuerpo">

    <div class="card col-12">
        <div class="card-body">
            <h4>Nuevo producto</h4>
            <br>

            <form action="{% url 'new_product' %}" method="POST">

                {% csrf_token %}

                {% if mensaje.1 == 1 %}
                    <h6 class="text-danger">{{ mensaje.0 }}</h6>
                {% else %}
                    <h6 class="text-success">{{ mensaje.0 }}</h6>
                {% endif %}
                <div class="row g-3 pb-2">
                    <div class="col">
                        <input name="producto" type="text" class="form-control" placeholder="Nombre del producto"
                            aria-label="First name">
                    </div>
                    <div class="col">
                        <input name="imagen" type="text" class="form-control" placeholder="URL de imagen"
                            aria-label="Last name">
                    </div>
                </div>

                <div class="col-auto pb-2">
                    <label name="categoria" class="visually-hidden" for="autoSizingSelect">Preference</label>
                    <select class="form-select" id="autoSizingSelect" name="categoria">
                        <option selected value="{% if respaldo.categoria %}{{ respaldo.categoria }}{% endif %}">{% if respaldo.categoria %}{{ respaldo.categoria }}{% else %}Categoría{% endif %}</option>
                        {% for categoria_producto, _ in todas_categorias %}
                            <option value="{{ categoria_producto }}">{{ categoria_producto }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-floating pb-2">
                    <textarea name="descripcion" class="form-control" placeholder="Leave a comment here"
                        id="floatingTextarea"></textarea>
                    <label for="floatingTextarea">Descripción</label>
                </div>

                <div class="input-group">
                    <input name="precio_inicial" step="0.01" type="number" class="form-control"
                        aria-label="Dollar amount (with dot and two decimal places)" placeholder="Costo mínimo">
                </div>
                <br>

                <button type="submit" class="btn btn-outline-primary">Agregar producto</button>

            </form>

        </div>
    </div>

</div>

{% endblock %}