{% extends "layouts/base.html" %}

{% block title %}Título del producto{% endblock  %}

{% block content %}

<div class="d-flex flex-grow-1 container mt-5 cuerpo col-12">

    <div class="container cuerpo">

        <div class="card">
            <img src="https://www.apple.com/newsroom/images/product/mac/standard/Apple_MacBook-Pro_14-16-inch_10182021_big.jpg.slideshow-xlarge_2x.jpg"
                class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-primary">Tecnología</p>
                <h5 class="card-title">MacBook Pro</h5>
                <p class="card-text">La MacBook Pro da un salto al futuro con los chips M3, M3 Pro y M3 Max.
                    Fabricados con tecnología de 3 nanómetros y una nueva arquitectura de GPU, son los chips más
                    avanzados que existen en una computadora personal. Y cada uno de estos pequeños gigantes lleva
                    la potencia y el rendimiento a niveles inimaginables.</p>
                <p class="card-text"><small class="text-body">Ofrecida por: Apple</small></p>
                <p class="card-text"><small class="text-body-secondary">Mejor oferta: $ 1200.00</small></p>

                <button class="btn btn-outline-primary">Agregar a lista de seguimiento</button>
            </div>
        </div>

    </div>

    <div class="container cuerpo-interno">

        <div class="card col-12">
            <div class="card-body">
                <h4>Acciones</h4>
                <br>

                <p class="card-text text-primary">5 Usuarios han ofertado por este producto. Su oferta es la actual.
                </p>
                <p class="card-text"><small class="text-body-secondary">Su oferta: $ 1200.00</small></p>

                <form action="" method="POST">
                    {% csrf_token %}
                    <h6 class="text-danger">Su oferta no es válida</h6>
                    <div class="input-group">
                        <input type="number" class="form-control"
                            aria-label="Dollar amount (with dot and two decimal places)"
                            placeholder="Ingrese el monto a ofertar">
                        <span class="input-group-text">$</span>
                    </div>
                    <br>
    
                    <button type="submit" class="btn btn-outline-primary">Ofertar</button>
                </form>

            </div>
        </div>

    </div>

    <div class="container cuerpo-interno">

        <div class="card mb-3 col-12">

            <div class="card-body">
                <h4>Sección de comentarios</h4>
                <br>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                        <label for="floatingTextarea">Agrega un comentario</label>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-outline-primary">Agregar comentario</button>
                </form>
            </div>


            <div class="card-body comentarios">

                <div data-bs-spy="scroll" data-bs-offset="0" data-bs-smooth-scroll="true" class="scrollspy-example"
                    tabindex="0">
                    <h5 id="simple-list-item-1">Item 1</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, quas illo maxime dolores
                        asperiores consectetur recusandae modi maiores accusamus quidem voluptatum quis excepturi
                        nostrum expedita neque earum officiis repudiandae facilis?</p>
                    <h6>6 de julio del 2023</h6>
                </div>

                <hr>

                <div data-bs-spy="scroll" data-bs-offset="0" data-bs-smooth-scroll="true" class="scrollspy-example"
                    tabindex="0">
                    <h5 id="simple-list-item-1">Item 1</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, quas illo maxime dolores
                        asperiores consectetur recusandae modi maiores accusamus quidem voluptatum quis excepturi
                        nostrum expedita neque earum officiis repudiandae facilis?</p>
                    <h6>6 de julio del 2023</h6>
                </div>

                <hr>

                <div data-bs-spy="scroll" data-bs-offset="0" data-bs-smooth-scroll="true" class="scrollspy-example"
                    tabindex="0">
                    <h5 id="simple-list-item-1">Item 1</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, quas illo maxime dolores
                        asperiores consectetur recusandae modi maiores accusamus quidem voluptatum quis excepturi
                        nostrum expedita neque earum officiis repudiandae facilis?</p>
                    <h6>6 de julio del 2023</h6>
                </div>

                <hr>

            </div>
        </div>

    </div>

</div>

{% endblock %}