{% extends "layouts/base.html" %}

{% block title %}{{ producto.producto }}{% endblock  %}

{% block content %}

<div class="d-flex flex-grow-1 container mt-5 cuerpo col-12">

    <div class="container cuerpo">

        <div class="card">
            <img src="{{ producto.imagen }}"
                class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-primary">{{ producto.categoria }}</p>
                <h5 class="card-title">{{ producto.producto }}</h5>
                <p class="card-text">{{ producto.descripcion }}</p>
                <p class="card-text">{{ producto.fecha }}</p>
                <p class="card-text"><small class="text-body">Ofrecido por: {{ producto.vendedor }}</small></p>
                <p class="card-text"><small class="text-body-secondary">Precio de venta: $ {% if oferta_maxima %}{{ oferta_maxima }}{% else %}{{ producto.precio_inicial }}{% endif %}</small></p>

                {% if user.is_authenticated %}

                    {% if user == producto.vendedor %}

                        {% if producto.activo %}
                            <a href="{% url 'close_auction' id=producto.id %}"><button class="btn btn-outline-danger">Cerrar subasta</button></a>

                        {% else %}
                            <h5 class="text">Has finalizado esta subasta</h5>
                        {% endif %}
                        
                        
                    {% else %}

                        {% if en_lista %}
                            <a href="{% url 'add_remove_list' id=producto.id %}"><button class="btn btn-outline-danger">Remover de la lista de seguimiento</button></a>
                        {% else %}
                            <a href="{% url 'add_remove_list' id=producto.id %}"><button class="btn btn-outline-primary">Agregar a lista de seguimiento</button></a>
                        {% endif %}

                        {% if not producto.activo %}
                            <hr>
                            <h6 class="text-danger mt-2">Esta subasta ha finalizado</h6>
                        {% endif %}

                    {% endif %}
                
                {% endif %}
            </div>
        </div>

    </div>

    <div class="container cuerpo-interno">

        <div class="card col-12">
            <div class="card-body">
                <h4>Acciones</h4>
                <br>

                {% if producto.activo %}
                    <p class="card-text text-primary">{% if cantidad_ofertas > 0 %}El producto posee un total de {{ cantidad_ofertas }} oferta(s). {% else %}Este producto no presenta ofertas.{% endif %}</p>
                {% else %}
                    <p class="card-text text-primary">{% if cantidad_ofertas > 0 %}El producto se vendió con un total de {{ cantidad_ofertas }} oferta(s). {% else %}El producto no fue vendido.{% endif %}</p>
                {% endif %}
                
                {% if oferta_maxima_usuario %}
                    {% if oferta_maxima == oferta_maxima_usuario %}
                        {% if producto.activo %}
                            <p class="card-text text-success">Tu oferta posee el primer puesto</p>
                        {% else %}
                            <h4 class="card-text text-success">¡Has ganado la subasta!</h4>
                        {% endif %}
                    {% else %}
                        <p class="card-text text-danger">Han superado a tu oferta</p>
                    {% endif %}
                {% endif %}

                {% if user.is_authenticated %}

                    {% if user != producto.vendedor %}

                        {% if producto.activo %}
                            <form action="{% url 'product' id=producto.id %}" method="POST">
                                {% csrf_token %}

                                    {% if mensaje %}
                                        {% if mensaje.1 == 0 %}
                                            <h6 class="text-success">{{ mensaje.0 }}</h6>
                                        {% else %}
                                            <h6 class="text-danger">{{ mensaje.0 }}</h6>
                                        {% endif %}
                                    {% endif %}
                                
                                <div class="input-group">
                                    <input name="oferta" type="number" step="0.01" class="form-control"
                                        aria-label="Dollar amount (with dot and two decimal places)"
                                        placeholder="Ingrese el monto a ofertar" required>
                                    <span class="input-group-text">$</span>
                                </div>
                                <br>
                
                                <button type="submit" class="btn btn-outline-primary">Ofertar</button>
                                <hr>

                                <p class="card-text"><small class="text-body-secondary">{% if oferta_maxima_usuario %}Tu oferta: $ {{ oferta_maxima_usuario }}{% else %}No has ofertado por este producto{% endif %}</small></p>
                            </form>
                        {% endif %}

                    {% endif %}

                {% endif %}

            </div>
        </div>

    </div>

    <div class="container cuerpo-interno">

        <div class="card mb-3 col-12">

            <div class="card-body">
                <h4>Sección de comentarios</h4>
                <br>

                {% if user.is_authenticated %}
                    <form action="{% url 'comment' id=producto.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-floating">
                            <textarea name="comentario" class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                            <label for="floatingTextarea">Agrega un comentario</label>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-outline-primary">Agregar comentario</button>
                    </form>
                {% endif %}
            </div>

            <div class="card-body comentarios">

                {% if comentarios %}

                    {% for comentario in comentarios %}

                        <div data-bs-spy="scroll" data-bs-offset="0" data-bs-smooth-scroll="true" class="scrollspy-example">
                            <h5 id="simple-list-item-1">{{ comentario.usuario }}</h5>
                            <p>{{ comentario.comentario }}</p>
                            <h6>{{ comentario.fecha }}</h6>
                        </div>

                        <hr>

                    {% endfor %}

                {% else %}

                <div data-bs-spy="scroll" data-bs-offset="0" data-bs-smooth-scroll="true" class="scrollspy-example"
                    tabindex="0">
                    <h5 id="simple-list-item-1">Aún no hay comentarios</h5>
                </div>

                {% endif %}

            </div>
        </div>

    </div>

</div>

{% endblock %}