{% extends "layouts/base.html" %}

{% block title %}Registro{% endblock  %}

{% block content %}

<div class="container cuerpo">

    <div class="card col-12">
        <div class="card-body m-4">
            <h4>Registro</h4>
            <br>

            <form action="{% url 'sign_in' %}" method="POST">

                {% csrf_token %}
                    
                <h6 class="text-danger">{% if mensaje %}{{ mensaje }}{% endif %}</h6>
                    
                <div class="row g-3 pb-2">
                    <div class="col">
                        <input name="username" type="text" class="form-control" placeholder="Nombre de usuario"
                            aria-label="First name">
                    </div>
                </div>
                <div class="row g-3 pb-2">
                    <div class="col">
                        <input name="password" type="password" class="form-control" placeholder="Contraseña"
                            aria-label="First name">
                    </div>
                </div>

                <button type="submit" class="btn btn-outline-primary">Crear cuenta</button>
                <p class="text mt-2 m-0">¿Ya tienes una cuenta? <a class="text" href="{% url 'login' %}">Inicia sesión</a></p>

            </form>

        </div>
    </div>

</div>

{% endblock %}